{% extends 'master/base.html' %}

{% block 'title' %} Add Student {% endblock %}


{% block 'content' %}

<div class="container">
    <div class="row">
        {% include 'components/sidenav.html' %}
        <div class="col-8">
            <h3>Add Student</h3>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {{form}}
                {% csrf_token %}
                <hr/>
                <button type="submit" style="float:right;" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}