{% extends 'master/base.html' %}

{% block 'title' %} Add Book {% endblock %}


{% block 'content' %}

<div class="container">
    <div class="row">
        {% include 'components/sidenav.html' %}
        <div class="col-8">
            {% include 'components/error.html' %}
            <h3>Add Book</h3>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}