{% extends 'master/base.html' %}

{% block 'content' %}
 <div class="container">
    <div class="row justify-content-md-center"">
        <div class="col-6">
           <div class="card">
                 <div class="card-header">
                   Signup
                 </div>
                 <div class="card-body">
                    <form method="post">
                       {% csrf_token %}
                        {{form}}
                       <hr/>
                    <button type="submit" class="btn btn-primary" style="float:right;">Signup</button>
                    </form>
                 </div>
               </div>
        </div>
    </div>
 </div>
{% endblock %}