     <div class="col-4">
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">

                      <a href="{% url 'bookadd' %}"> Add Book</a></li>
                  <li class="list-group-item"><a href="{% url 'booklist' %}">Books</a></li>
                  <li class="list-group-item">Add Student</li>
                  <li class="list-group-item">Borrows</li>
                  <li class="list-group-item">Staff</li>
                </ul>
        </div>