     <div class="col-4">
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">

                      <a href="{% url 'bookadd' %}"> Add Book</a></li>
                  <li class="list-group-item"><a href="{% url 'booklist' %}">Books</a></li>
                  <li class="list-group-item"><a href="{% url 'studentadd' %}">Add Student</a> </li>
                  <li class="list-group-item"><a href="{% url 'staffadd' %}">Add Staff</a> </li>
                  <li class="list-group-item"><a href="{% url 'orderlist' %}">Order list</a> </li>
                  <li class="list-group-item">Staff</li>
                </ul>
        </div>